<div class="list">
    <div class="item range range-assertive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="255" value="0" ng-model="color.red">
        <i class="icon ion-ios7-sunny"></i>
    </div>
    <div class="item range range-balanced">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="255" value="0" ng-model="color.green">
        <i class="icon ion-ios7-sunny"></i>
    </div>
    <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="255" value="0" ng-model="color.blue">
        <i class="icon ion-ios7-sunny"></i>
    </div>
</div>